* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link:hover {
    color: #ffc107 !important;
    transform: scale(1.1)
}

.btn {
    border-radius: 30px !important;
    padding: 10px 40px !important;
}

.page-2 .col-lg-5 {
    background: linear-gradient(45deg, rgba(185, 255, 201, 0.3), rgba(150, 238, 170, 0.1)), url(../img/learn-bg.jpg);
    background-position: center;
    background-size: cover;
    min-height: 80vh;
}

.page-2 {
    background: linear-gradient(40deg, rgba(248, 246, 92, 0.7), rgba(252, 201, 47, 0.7));
}

.experience {
    background: linear-gradient(45deg, rgba(253, 224, 135, 0.75), rgba(154, 255, 123, 0.8));
}

.contact-info .row {
    min-height: 30vh;
}

.blog {
    background: linear-gradient(45deg, rgba(253, 224, 135, 0.75), rgba(154, 255, 123, 0.8));
}

.blog .row .date {
    position: relative;
    top: 0%;
    left: 75%;
}

.blog .card {
    margin: 0 auto;
}

.blog .card:hover {
    transform: scale(1.05);
}

.team-members .swiper-slide .des {
    position: relative;
    top: -15px;
}

.bottom-section input[type="email"] {
    border-radius: 30px 0 0 30px;
    border: none;
}

.bottom-section .col-lg-4 .col-6 .btn {
    border-radius: 0 30px 30px 0 !important;
    left: -10%;
}

input[type="email"], input[type="text"] {
    outline: none;
    border: 1px solid grey;
}

@media (max-width: 426px) {
    .hero-section .carousel-item img {
        height: 40vh;
    }
    .hero-section .carousel-item h4 {
        font-size: 30px;
    }
    .page-2 .col-lg-5 {
        width: 95%;
        margin: 0 auto;
    }
    .tabs {
        display: none;
    }
    .swiper-slide {
        width: 90%;
    }
    .carousel-caption h5 {
        font-size: 22px !important;
    }
    .carousel-caption h4 {
        font-size: 28px !important;
    }
    .carousel-caption .btn {
        font-size: 12px !important;
        padding: 5px 18px !important;
    }
    .carousel-caption {
        margin-bottom: 0;
    }
}